
$main-color: #F1F4F9;
$svg-color:#ADBFDF;
$hover-color: #dee4ff;
$hover-text: #122945;


$light-gray-text:#899CB1;
$gray-text:#5e7793;
$white-color:#f5f5f5;
$active-color: #002CFB;
$font-family:'SF Pro Display', sans-serif;
