$main-color: #f1f4f9;
$svg-color: #adbfdf;
$hover-color: #dee4ff;
$hover-text: #122945;

$light-gray-text: #899cb1;
$gray-text: #5e7793;
$white-color: #f5f5f5;
$active-color: #002cfb;

$font-family: 'SF Pro Display', sans-serif;
