@import '../../styles/variables.scss';

.panel {
  position: absolute;
  top: 30px;
  background-color: $white-color;
  border: 1px solid $white-color;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
  border-radius: 8px;
  z-index: 2;
  height: 96px;
  width: 133px;
  overflow: hidden;

}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  height: 32px;
  padding: 7px 12px;
  cursor: pointer;

  font-family: $font-family;
  color: $hover-text;
  font-size: 12px;
  line-height: 18px;

  &:hover {
    background-color: $hover-color;
    color: $hover-text;
  }

  &--active {
    color: $active-color;
  }
}

.btn {
  display: flex;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  color: $gray-text;
  font-size: 14px;
  line-height: 148%;
  font-family: $font-family;

  &:hover {
    color: $active-color;
    transition: 0.3s;

    svg path {
      fill: $active-color;
      transition: 0.3s;
    }
  }

  &--active {
    color: $hover-text;
  
    svg path {
      fill: $active-color;
    }
  }
}

.filter{
  position: relative;

  &__item {
    cursor: default;
    &:hover {
      color: $gray-text;;
    }
  
  }
}