@import '../../styles/variables.scss';

.calls {
  display: flex;
  height: 65px;
  align-items: center;
  font-family: $font-family;
  color: $hover-text;
  font-size: 15px;
  line-height: 140%;
}

.calls:last-child {
  justify-content: end;
}

.wrap-info {
  display: flex;
}

.info {
  display: flex;
  align-items: center;

  &__type {
    width: 54px;
  }

  &__time {
    width: 88px;
  }

  &__avatar {
    width: 129px;
  }

  &__tel {
    width: 325px;
  }

  &__source {
    width: 214px;
  }

  &__rating {
    width: 150px;
  }
}

.info:last-child {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.rating {
  display: flex;
  padding: 6px 8px;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid #28a879;
  background-color: #dbf8ef;

  color: #28a879;
  font-size: 14px;
  line-height: 100%;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-color;

  font-family: $font-family;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.224px;
  color: $active-color;

  &__def {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}

.contact {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .tel {
    margin-top: 6px;
    color: $gray-text;
  }
}