@import '../../styles/variables.scss';

.wrapper {
  padding: 24px 40px 0;
}

.filters {
  display: flex;
  margin-bottom: 20px;
}

.filter {
  &__type {
    width: 54px;
  }

  &__time {
    width: 88px;
  }

  &__avatar {
    width: 129px;
  }

  &__tel {
    width: 325px;
    flex-shrink: 2;
  }

  &__source {
    width: 214px;
  }

  &__rating {
    width: 150px;
  }

  &__audio{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}